body {
	height: 100%;
  	margin: 0;
  	padding: 0;
}

.App {
	height: 100%;
}

.outer-container {
	height: 100%;
	position: relative;
}

.page-wrap {
	height: 100%;
	background-image: url(../../images/light_wood.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #efefef;
}

.wine-list {
	width: 100%;
	position: relative;
	top: -60px;
	margin: 0 auto;

	@media only screen and (min-width: 768px) {
		width: 762px; /* 2 columns */
	}

	@media only screen and (min-width: 992px) {
		width: 984px; /* 3 columns */
	}

	@media only screen and (min-width: 1200px) {
		width: 1192px; /* 4 columns */
	}
}
