body {
	height: 100%;
  	margin: 0;
  	padding: 0;
}

p.margin-bottom { margin-bottom: 8px; }

.App {
	height: 100%;
}

.outer-container {
	height: 100%;
	position: relative;

	background-image: url(../../images/light_wood.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #efefef;
}

.page-wrap {
	height: 100%;
}

.wine-list {
	width: 100%;
	position: relative;
	top: -60px;
	margin: 0 auto;

	@media only screen and (min-width: 768px) {
		width: 762px; /* 2 columns */
		top: -72px;
	}

	@media only screen and (min-width: 992px) {
		width: 984px; /* 3 columns */
		top: -84px;
	}

	@media only screen and (min-width: 1200px) {
		width: 1192px; /* 4 columns */
		top: -94px;
	}

	@media only screen and (min-width: 1514px) {
		width: 1510px; /* 5 columns */
	}
}

.load-more-btn {
	color: #420c1a;
	font-weight: bold;
	display: block;
	padding: 10px 16px;
	margin: 20px auto;
	background: transparent;
	border: 2px solid #420c1a;
	transition: all .4s ease-in-out;

	position: relative;
	top: -40px;

	&:hover {
		color: #e6efec;
		background-color: #420c1a;
		border-color: #e6efec;
	}

	&.hide { display: none; }
}