body {
	background-image: url(../../images/light_wood.png);
	background-repeat: repeat;
	background-color: #efefef;
  	margin: 0;
  	padding: 0;
}

.wine-item {
	background-color: transparent;

	.thumbnail {
		text-align: center;
	}

	.thumbnail-img {
		border: 6px solid #fff;
		border-radius: 6px;

		&.item-Red {
			border-color: #BF2626;
		}
	}
}
