.wine-item {
	width: 100%;
	background-color: transparent;
	padding: 10px;

	@media only screen and (min-width: 768px) {
		width: 381px; /* 2 columns */
	}

	@media only screen and (min-width: 992px) {
		width: 328px; /* 3 columns */
	}

	@media only screen and (min-width: 1200px) {
		width: 298px; /* 4 columns */
	}

	.thumbnail {
		text-align: center;
		margin-bottom: 0px;
	}

	.thumbnail-img {
		border: 6px solid #fff;
		border-radius: 6px;

		&.item-Red {
			border-color: #b10015;
		}

		&.item-White {
			border-color: #fdce66;
		}
	}
}