.wine-item {
	width: 100%;
	background-color: transparent;
	padding: 10px;

	@media only screen and (min-width: 768px) {
		width: 381px; /* 2 columns */
	}

	@media only screen and (min-width: 992px) {
		width: 328px; /* 3 columns */
	}

	@media only screen and (min-width: 1200px) {
		width: 298px; /* 4 columns */
	}

	@media only screen and (min-width: 1514px) {
		width: 302px; /* 5 columns */
	}

	.thumbnail {
		text-align: center;
		margin-bottom: 0px;

		&:hover {
			cursor: pointer;
			background-color: #ddd;
		}

		&:after {
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			content: '';

			position: absolute;
			bottom: 20px;
			right: 20px;
		}

		&.type-Red:after { background-color: #b10015; }
		&.type-White:after,
		&.type-Sparkling:after { background-color: #fdce66; }
	}

	.thumbnail-img {
		width: 86px;
		height: auto;
		border: 6px solid #420c1a;
		border-radius: 6px;
	}
}